// Custom styles.
code {
  color: #4d8cf4;
  background-color: whitesmoke;
}

blockquote {
  border-left: 4px solid #39aa56;
}

.posts-expand .post-body img {
  margin: 0 auto;
}

#qr img {
  width: 240px;
}

html {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
