// Custom styles.
code {
  color: #4d8cf4;
  background-color: whitesmoke;
}

blockquote {
  border-left: 4px solid #39aa56;
}

.posts-expand .post-body img {
  margin: 0 auto;
}

#qr img {
  width: 240px;
}

.algolia-hit-item-link em {
  color: red;
  font-style: normal;
}
